<main class="container">
  <article *ngIf="hero">
    <h2>{{ hero.name | uppercase }} Details</h2>
    <section><span>id: </span>{{ hero.id }}</section>
    <section>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name" />
      <article class="buttons">
        <button type="button" (click)="goBack()">Back</button>
        <button type="button" (click)="save()">Save</button>
      </article>
    </section>
  </article>
</main>
