h2 {
  text-align: center;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.heroes-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
  display: block;
  padding: 10px;
  margin: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  background-color: #3f525c;
}

a:hover {
  background-color: #f2f2f2;
}

/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
  .heroes-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroes-menu a {
    width: 18%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }

  .heroes-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroes-menu a {
    width: 18%;
  }
}
