#search-component {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

#search-box {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 15px;
}

.search-result {
  list-style-type: none;
  padding: 0;
}

.search-result li {
  margin-bottom: 8px;
}

.search-result li a {
  text-decoration: none;
  color: black;
  background-color: #cfcfcf;
  padding: 8px 12px;
  display: block;
}

.search-result li a:hover {
  background-color: darkgray;
}

@media screen and (max-width: 600px) {
  #search-component {
    padding: 10px;
  }

  #search-box {
    width: 100%;
    padding: 6px;
    font-size: 0.9em;
  }
}
